# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
backend/dist
frontend/dist
build

# misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun-error.log*

# local env files
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide / editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
